* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 50px 25px;
  padding: 20px;
  background-color: rgb(25, 146, 198);
  color: antiquewhite;
  border: 1px solid antiquewhite;
  border-radius: 10px;

  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header {
    margin: 10px;
    padding-bottom: 20px;

    .title {
      font-size: 36px;
    }
  }

  .input-field {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .inner-container {
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .input {
        padding: 5px;
        border: 1px solid antiquewhite;
        border-radius: 5px;
        color: rgb(25, 146, 198);
        outline: none;

        &::placeholder {
          color: rgba(25, 146, 198, 0.449);
          font-style: italic;
        }
      }

      button {
        margin: 5px;
        border-radius: 5px;
        border: 1px solid antiquewhite;
        background-color: antiquewhite;
        color: rgb(25, 146, 198);
        font-weight: bold;
        cursor: pointer;
      }
    }

    .output {
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* background-image: url(/assets/numbers.jpeg);
color: antiquewhite;
font-weight: 700;
height: 500px;
background-position: center;
background-repeat: no-repeat;
background-size: cover; */

footer {
  padding: 5px 20px;
  width: 100%;
  border-top: 1px solid antiquewhite;
  position: absolute;
  left: 0;
  bottom: 0;

  u {
    cursor: pointer;
  }
}
